.App {
  text-align: center;
}

.main{
  margin: 1px;
}

.logo-m {     
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;  
  min-height: 20rem;
}

.my-name{
  color: white;
  transition: .3s ease;
  padding: 1px;
  margin-top: 1px;
}


.my-name:hover{
  color: rgb(216, 216, 216);
}

img.main-img{   
  border-radius: 10rem;
  box-shadow: 0 0 0 6px #fff;
  transition: .4s ease;
}

img.main-img:hover {   
  border-radius: 10rem;
  box-shadow: 0 0 0 6px rgb(207, 202, 202);
}

img.dev-img{
  height: 3rem;    
  transition: 0.3s;
  cursor: pointer;
}

img.dev-img:hover{
  margin-bottom: 1rem;
}

.ul-links{
  height: 15rem; 
}

.ul-links li{
  height: 2.5rem;
  padding: 20px;
  border: 0;
  margin: 20px;
  list-style: none;
  background: white;
  width:35rem;
  border-radius: 2rem;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}
.ul-links a{
  text-decoration: none;
  color: black;
}

.ul-links li:hover{
  background: rgba(231, 222, 213, 0.952);
}